[user]
	name = YukiKuroshima
	email = yukikuro1993@gmail.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
	trustctime = false
[commit]
	template = ~/dotfiles/.commit_template
[diff]
        tool = vimdiff
[merge]
        tool = vimdiff
        conflictstyle = diff3
[difftool]
        prompt = false
[mergetool]
	keepBackup = false
